body{
    padding:50px 100px;
}
h1{
    text-align: center;
}
.container{
    text-align: center;
    background: #1abc9c;
    padding:50px;
}
.input-div{
    display: inline-block;

}
label{
    font-size: 20px;
    text-transform: capitalize;
}

.inp{
    padding:5px 20px;
    margin:10px;
    font-size: 25px;
    font-weight: bold;
    width: 250px;
    text-align: center;
}